/* --- СТИЛИ ДЛЯ КОМНАТЫ "БОЛЬШОЙ-МАЛЕНЬКИЙ" --- */
.bs-container { 
    display: none; 
    flex-direction: column; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
    position: relative; 
}
.bs-container.active { 
    display: flex; 
}
.bs-top-zone { 
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    gap: 20px;
}
.bs-bottom-zone { 
    display: flex; 
    justify-content: space-around; 
    align-items: flex-end; 
    padding-bottom: 40px; 
    height: 40%; 
}
.bs-box { 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: bottom; 
}
.bs-box-big { 
    width: 150px; 
    height: 150px; 
}
.bs-box-small { 
    width: 90px; 
    height: 90px; 
}
.bs-box-wrapper { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
